html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(200, 255, 0);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(200, 255, 0);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
.titulo {
    color: rgb(234, 245, 76);
    margin: 15px 25px;
  }
  .busqueda {
    margin-left: 10px;
  }

a:hover{
	color: rgb(0, 0, 0);
}
.opcion{
	margin: 20px;
	font-size: 1.2em;
	font-weight: bold;
}

footer{
	color: rgb(193, 255, 185);
	margin: 20px;
}

.icons{
 width: 50px;
}

.modificar{
	color: white;
	background-color: rgba(31, 136, 31, 0.74);
	border-radius: 8%;
}

.insertar{
	color: rgb(255, 255, 255);
	background-color: rgba(53, 90, 192);
	border-radius: 8%;
}

.eliminar{
	color: white;
	background-color: rgba(236, 10, 21, 0.74);
	border-radius: 8%;
}